* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*::selection {
    background-color: black;
    color: white;
}

#nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0%;
    z-index: 99;
    
}
.nav-part1{
    height: 83px;
    overflow: hidden;
}
.nav-part1 svg{

display: block;    
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.nav-part2 .links a{
    text-decoration: none;
    font-size: 1vw;
    font-family: "Gilroy";
    text-transform: uppercase;
    color:black;
    margin-left: 25px;
}
.icons{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4vw;
    gap: 40px;
    border-radius: 20px;
    overflow: hidden;
    width:40px;
    background-color: aliceblue;

}
.shop{
    font-size: 2vw;
    margin-left: -20px;
}
.icons #close{
    display: none;
    
}
.icons i:hover{
    cursor: pointer;
}
.nav-part4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
background-color: black;
position: absolute;
z-index: 12;
transform: translateY(-100%);
}
.nav-pt4{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;



}
.nav-pt4 a{
    font-family: "Gilroy";
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1vw;
    line-height: 2vw;
    text-align: justify;
    transition: all ease 0.5s;
}
.nav-pt4 a:hover{
    color: gray;
    /* border-bottom:10px solid white ; */
    transition: all ease 0.5s;
}
.nav-pt4 h1{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-transform: uppercase;
color: white;
font-size: 1.3vw;
font-family: gilroy;
}
#pt4-4{
    height: 76%;
}
#pt4-4>a{

font-size: 4.6vw;
font-family: futura;
line-height: 2vw;
}
/* page 1 */
#page1 {
    min-height: 100vh;
    padding: 15px;
}

#page1 .head-pg-1 h1 {
    padding-top: 33vh;
    font-size: 16vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 6vw;
    font-weight: 9000;

    letter-spacing: -10px;
}

#page1 .head-pg-1 h2 {
    font-size: 14vw;
    font-family: futura;
    text-transform: uppercase;
    font-weight: 9000;
    letter-spacing: -10px;
    line-height: 20vw;
}

#video-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #cursor {
    height: 85px;
    width: 100px;
    border-radius: 60px;
    position: fixed;
    background-color: black;
    text-transform: uppercase;
    font-family: futura;
    opacity: 0;
}

#video-container #cursor h1 {
    text-align: center;
    color: white;
    padding: 26px 20px;
    font-size: 1.4vw;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    flex-wrap: wrap;
    gap: 20px;
}

#page2 .elem {
    height: 650px;
    width: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

#page2 .elem .box {
    height: 60px;
    width: 280px;
    background-color: #E5F0D6;
    position: absolute;
    transition: 0.4s ease-in all;
    border-radius: 25px;
    overflow: hidden;
    
}

#page2 .elem .box:hover{
    height:300px;
    overflow: visible;
}
#page2 .elem .box .box-child-con{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.box h1{
    margin-top: 10px;
    font-size: 1.7vw;
    text-align: center;
    text-transform: uppercase;
    font-family: "gilroy";
    font-weight: lighter;

}
.box h1 span i{
    font-size: 1.9vw;
} 

.box i{
    font-size: 3vw;
}


#page2 .elem .box .box-child-con img{
    height: 120px;
}
#page2 .elem .box .box-child-con .box-child p{
    font-size: 0.9vw;
}


#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#main .bottom-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#main .bottom-head h6 {
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 1.1vw;
    font-family: "Gilroy";
    margin-top: 3vw;
    font-weight: lighter;

}

#main .bottom-head h5 {
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 1.1vw;
    font-family: "Gilroy";
    margin-top: 3vw;
    font-weight: lighter;
}




#page3 {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0px;
}

#page3 .child {
    height: 600px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#page3 .child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3 .child a{
font-size: 1vw;    
text-decoration: none;
color: black;
text-transform: uppercase;
font-family: "gilroy";
font-weight: lighter;
margin-top: 60px;

}

#page3 .child span{
    display: inline-block;
    padding: 10px 80px; 
    text-align: center;

}

#divpg3{
    position: fixed;
    height: 170px;
    width: 200px;
    background-color: #E5F0D6;
    border-radius: 90px;
    transform: translate(-50%,-50%);
    opacity: 0;
    scale: 0;

}

#page4{
    margin-top: 150px;
    height: 100vh;
    width: 100%;

}
#page4 h1{
    font-family: futura;
font-size: 6vw;
text-align: center;
font-weight: 900;
}
